// ref: https://codepen.io/anatravas/pen/mOyNWR
@import "./style.scss";

.glitch {
  position: relative;
  padding: 30px;
}
.glitch::before, .glitch::after {
  padding: 30px;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: $black;
  overflow: hidden;
  top: 0;
}
.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
@keyframes glitch-animation-1 {
  0% {
      clip: rect(79px,9999px,40px,0);
  }
  5% {
      clip: rect(105px,9999px,138px,0);
  }
  10% {
      clip: rect(115px,9999px,64px,0);
  }
  15% {
      clip: rect(110px,9999px,79px,0);
  }
  20% {
      clip: rect(3px,9999px,105px,0);
  }
  25% {
      clip: rect(52px,9999px,31px,0);
  }
  30% {
      clip: rect(9px,9999px,57px,0);
  }
  35% {
      clip: rect(63px,9999px,14px,0);
  }
  40% {
      clip: rect(13px,9999px,117px,0);
  }
  45% {
      clip: rect(39px,9999px,111px,0);
  }
  50% {
      clip: rect(15px,9999px,15px,0);
  }
  55% {
      clip: rect(104px,9999px,21px,0);
  }
  60% {
      clip: rect(92px,9999px,2px,0);
  }
  65% {
      clip: rect(83px,9999px,126px,0);
  }
  70% {
      clip: rect(77px,9999px,104px,0);
  }
  75% {
      clip: rect(131px,9999px,129px,0);
  }
  80% {
      clip: rect(60px,9999px,140px,0);
  }
  85% {
      clip: rect(47px,9999px,5px,0);
  }
  90% {
      clip: rect(123px,9999px,91px,0);
  }
  95% {
      clip: rect(9px,9999px,40px,0);
  }
  100% {
      clip: rect(19px,9999px,142px,0);
  }
}
@keyframes glitch-animation-2 {
  0% {
      clip: rect(13px,9999px,45px,0);
  }
  5% {
      clip: rect(96px,9999px,36px,0);
  }
  10% {
      clip: rect(79px,9999px,134px,0);
  }
  15% {
      clip: rect(39px,9999px,53px,0);
  }
  20% {
      clip: rect(24px,9999px,150px,0);
  }
  25% {
      clip: rect(90px,9999px,75px,0);
  }
  30% {
      clip: rect(3px,9999px,87px,0);
  }
  35% {
      clip: rect(88px,9999px,123px,0);
  }
  40% {
      clip: rect(132px,9999px,22px,0);
  }
  45% {
      clip: rect(39px,9999px,63px,0);
  }
  50% {
      clip: rect(34px,9999px,71px,0);
  }
  55% {
      clip: rect(14px,9999px,91px,0);
  }
  60% {
      clip: rect(6px,9999px,66px,0);
  }
  65% {
      clip: rect(105px,9999px,14px,0);
  }
  70% {
      clip: rect(69px,9999px,60px,0);
  }
  75% {
      clip: rect(86px,9999px,149px,0);
  }
  80% {
      clip: rect(75px,9999px,71px,0);
  }
  85% {
      clip: rect(31px,9999px,21px,0);
  }
  90% {
      clip: rect(110px,9999px,108px,0);
  }
  95% {
      clip: rect(16px,9999px,34px,0);
  }
  100% {
      clip: rect(150px,9999px,50px,0);
  }
}