@charset "utf-8";

// font
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@700;800&display=swap');
$family-primary: "Oxanium";

// Set your brand colors
$black: #1b262c;
$dark-blue: #0f4c75;
$blue: #3282b8;
$light-blue: #bbe1fa;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $black;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// footer
$footer-background-color: $dark-blue;
$footer-padding: 3rem 1.5rem 3rem;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";