$primary: #0f4c75;
$primary-background: #1b262c;

$navbar-light-active-color: #fff;

/* font */
$font-family-base: "Oxanium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/* body */
$body-bg: $primary-background;
$body-color: #fff;